---
import { languages, defaultLanguage } from '../i18n/ui';
import { getPartFromUrl } from '../i18n/utils';

const urlLanguage = getPartFromUrl(Astro.url, 1);
const page = getPartFromUrl(Astro.url, 2);
const info = languages.find(info => info.abbreviation === urlLanguage);

---
<details class="relative">
    <summary class=" base-border base-rounded base-padding w-48 flex items-center justify-between text-sm space-x-2 cursor-pointer list-none">
        <div class="w-full flex space-x-2">
            <strong>{info?.nativeName}</strong>
            <p>{info?.internationalName}</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
    </summary>

    <ul class="base-border base-rounded absolute right-0 -top-[calc(100%+32px)] w-48">
        {languages.map((language) => {
            const href = `/${language.abbreviation}/${page}`;
            
            return (
                <a href={href} class="base-padding flex items-center justify-between space-x-2 hover:font-medium">
                    <div class="flex items-center space-x-2">
                        <strong class="base-main-text text-sm">{language.nativeName}</strong>
                        <p class="base-secondary-text text-xs">{language.internationalName}</p>
                    </div>
                    {language?.abbreviation === urlLanguage ?
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    : ""}
                </a>
            );
        })} 
    </ul>
</details>
<!-- 
<script>
    document.addEventListener('click', (e) => {
        document.querySelectorAll('[data-dropdown]').forEach(dropdown => {
            const button = dropdown.querySelector('[data-toggle]');
            const menu = dropdown.querySelector('[data-menu]');

            if (button?.contains(e.target)) {
                menu?.classList.toggle('hidden');
            } else if (!dropdown.contains(e.target)) {
                menu?.classList.add('hidden');
            }
        });
    });
</script> -->