---
import { Icon } from "astro-icon/components";

const {
  id,
  name,
  description,
  createdAt,
  lastUpdate,
  media,
  mediaType,
  scale = 1,
} = Astro.props;

const src = media
  ? `${import.meta.env.BASE_URL}/images/${media}`
  : `${import.meta.env.BASE_URL}/images/placeholder.png`;

const isVideo = mediaType === "video";
const date = createdAt && lastUpdate ? `${createdAt} - ${lastUpdate}` : "01/1970 - 01/1970";

---
<div id={id} class="ds-rounded ds-high w-96 max-w-96 h-192 max-h-192 flex-none flex flex-col items-center group">
    <div class="relative w-full h-full flex items-center justify-center">
        <h1 class="z-10 absolute top-2 left-4 font-medium">{ name || "Card Title" }</h1>
        <p class="z-10 absolute top-2 right-4 font-medium">{ date }</p>
        <div class="ds-rounded-t ds-border-superior h-full w-full overflow-hidden absolute z-0 ">
            {isVideo ? (
                <video
                  src={src}
                  class="h-full w-full object-cover object-center grayscale-100 blur-[1px] dark:invert group-hover:grayscale-0 group-hover:blur-[0px]"
                  autoplay
                  muted
                  loop
                  playsinline
                />
                ) : (
                <img
                  src={src}
                  alt={name ?? "Placeholder Image"}
                  class="h-full w-full object-cover object-center grayscale-100 blur-[1px] dark:invert group-hover:grayscale-0 group-hover:blur-[0px]"
                />
            )}
        </div>
    </div>
    <div class="ds-rounded-b ds-border ds-padding w-full h-32 flex-none flex flex-col overflow-y-hidden">
        { description || "This is a description of the card. It provides additional information about the content." }
    </div>
</div>