---
import type { MarkdownHeading } from 'astro';
import Prose from '../../../components/prose.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection, getEntry, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map(post => {
    const [locale, slug] = post.id.split('/');

    return {
      params: { locale, slug },
    };
  });
}

const { locale, slug } = Astro.params;

const post = await getEntry('blog', `${locale}/${slug}`)!;
const { Content, headings } = await render(post);

function buildNumbering(headings: MarkdownHeading[]) {
  const counters: number[] = [];

  return headings.map(h => {
    const level = h.depth - 1;

    counters[level] = (counters[level] ?? 0) + 1;
    counters.length = level + 1;

    return {
      ...h,
      numbering: counters.join(".") + ".",
      indent: level,
    };
  });
}
const toc = buildNumbering(headings);

---
<BaseLayout pageName={post.data.title}>
  <article slot="main" class="w-full flex flex-col items-center justify-start p-8">
    <h1 class="w-full flex items-center justify-center text-6xl font-bold">{post.data.title}</h1>

    <Prose>
        <aside class="w-full flex flex-col items-center justify-start">
            <nav>
                <h2>Sumário</h2>
                <ol class="list-none">
                    {toc.map(header => (
                        <li style={`margin-left: ${header.indent}rem`} class="ds-text-hover">
                          <a href={`#${header.slug}`}>
                            <span class="mr-1">{header.numbering}</span>
                            {header.text}
                          </a>
                        </li>
                    ))}
                </ol>
            </nav>
        </aside>

        <Content />
    </Prose>
  </article>
</BaseLayout>