---
import { LocaleOption, Translations } from '../../../i18n/translations.';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';
import { URLHelper } from '../../../common/URLhelper';

const locale = URLHelper.getLocaleFromURL(Astro.url);
const t = Translations.getTranslation(locale);

export async function getStaticPaths() {
    return [
        { params: { locale: 'pt-br' } },
        { params: { locale: 'en-us' } },
    ];
}

const posts = (await getCollection('blog')).filter(post => post.id.startsWith(`${locale}/`));
const allTags = [
  ...new Set(posts.flatMap(post => post.data.tags ?? []))
];

---
<BaseLayout  pageName="Portfolio | Blog">
<div
  slot="main"
  class="w-full h-full flex flex-col items-center justify-start space-y-16"
  x-data={`{
    search: '',
    tagFilter: '',
  }`}
>

  <div class="w-3xl flex flex-col items-center justify-start text-center space-y-4">
    <p>
        {t.blog.disclaimer}
    </p>
    <p>
        <i>{t.blog.essay}</i>
    </p>
  </div>

  
  <div class="w-full flex flex-col items-center space-y-2">
    <!-- Filters -->
    <div class="w-3xl flex space-x-2 items-center">
        <input type="text" placeholder={t.blog.filter.search} x-model="search" class="ds-border ds-rounded ds-hover ds-focus h-8 flex-1 px-4 py-1"/>

<select x-model="tagFilter" class="ds-border ds-rounded ds-hover ds-focus h-8 px-4 py-1">
  <option value="">{t.blog.filter.tags}</option>
  {allTags.map(tag => (
    <option value={tag}>{tag}</option>
  ))}
</select>
    </div>

  <!-- Header -->
    <div class="w-3xl px-2 py-1 text-sm font-semibold uppercase opacity-70">
        <div class="w-full flex items-center space-x-4">
            <span class="w-full">{t.blog.list.title}</span>
            <span class="w-48 text-center flex-none">{t.blog.list.tags}</span>
            <span class="w-20 text-center flex-none">{t.blog.list.createdAt}</span>
            <span class="w-20 text-center flex-none">{t.blog.list.lastUpdate}</span>
        </div>
    </div>

  <!-- List -->
    <ol class="w-3xl flex flex-col">
  {posts.map((post) => {
    const slug = post.id.split('/')[1];
    const title = post.data.title ?? '';
    const tags = post.data.tags ?? [];
    const createdAt = post.data.createdAt ?? '01/01/1970';
    const lastUpdate = post.data.lastUpdate ?? '01/01/1970';

    return (
      <li
        class="ds-hover px-2 py-1 cursor-pointer"
        x-show={`
          (
            "${title.toLowerCase()}".includes(search.toLowerCase())
          ) &&
          (
            tagFilter === '' ||
            ${JSON.stringify(tags)}.includes(tagFilter)
          )
        `}
      >
        <a
          href={URLHelper.buildStaticFullPath(locale, ["blog", `${slug}`])}
          class="w-full h-8 flex items-center space-x-4"
        >
          <span class="w-full truncate">{title}</span>
          <ul class="w-48 flex-none flex items-center justify-center space-x-1 truncate">
            {tags.map((tag: string) => (
              <li class="ds-border ds-rounded px-2 text-xs font-medium">
                {tag}
              </li>
            ))}
          </ul>
          <span class="w-20 flex-none text-center truncate">
            {createdAt}
          </span>
          <span class="w-20 flex-none text-center truncate">
            {lastUpdate}
          </span>
        </a>
      </li>
    );
  })}
</ol>

  </div>
</div>

</BaseLayout>